.heap{
    color:aqua;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
.toy{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRWIFMK1DY4RQqX2GsdhsF8DGrgcJMijaDNFyOSPYg5Xowm-1X0Q&s');
    background-size: cover;
    background-repeat: repeat;
    height: 750px;
}
