.heap{
    color:aqua;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
.toy{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRk3ak-2xYDC7AXKqFksYoR8FUA_CsCcUaZfSqFrLxH6QZmwc_beQ&s');
    background-size: cover;
    background-repeat: repeat;
    height: 750px;
}
