{% include 'base.html' %}

{{supper}}
<h1 class="heap"> Welcome to My first Gallery application with Django</h1>
<div class="container">

    <div class="row">
        {% for data in images %}
        <!-- Displaying the images in cards -->
        <div class="col-md-3">
            <div class="card">

                <!-- Card image -->
                <img class="card-img-top" src="{{data.image.url}}" alt="Card image cap">

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title" style="text-align: center"><a>{{ data.title}}</a></h4>
                    <!-- Text -->
                    <!-- Button -->
                    

                </div>

            </div>
            <!-- Card -->

        </div>

    </div>
</div>
{% endfor %}